/* MAIN */
body
{
	background-color: #202124;
	font-family: 'Nunito', sans-serif;
	font-size: 20px;
	color: white;
}

table
{
	clear: both;
	width: 1000;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

h1
{
	font-size: 80px;
}

/* LINK */

a:link
{
	color: #fff9a8;
}

a:visited
{
	color: #fff9a8;
}

a:hover
{
	color: yellow;
}

/*	ID	*/
#container
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#nav
{
	float:left;
	text-align: left;
	min-height: 620px;
	width: 90px;
}


#content
{
	float:left;
	text-align: center;
	min-height: 620px;
	width: 720px;
	padding: 15px;
}

#ad
{
	float:left;
	width: 160px;
	min-height: 620px;
	text-align: right;
}

#footer
{
	clear: both;
	min-height: 350px;
	background-color: rgb(37, 37, 37);
	width: 100%;
}
#footer_logo
{
	float: left;
	padding: 25px;
}

#footer_logo:hover
{
	cursor: pointer;
}

#footer_host
{
	float: left;
	margin-top: 60px;
	margin-left: 25px;
}
#footer_host:hover
{
	cursor: pointer;
}

#copy
{
	float: left;
	margin-top: 110px;
	margin-left: 25px;
}

/*	CLASS	*/

.header
{
	text-align: center;
	font-weight: 900;
}

.jcont
{
	text-align: justify;
}

.menu
{
	float: left;
	min-width: 50px;
	width: 25;
	font-size: 15px;
	padding: 15px;
}

.menu:hover
{
	border-bottom: 2px dotted red;
	font-size: 17px;
	cursor: pointer;
}

.icon
{
	font-size: 40px;
}