:root
{
     --background: #3a4764;
     --keypad-background: #232c43;
     --display-background: #182034;
     --alt-font-color: #fff;
     --keys-background: #eae3dc;
     --font-color: #444b5a;
     --keys-shadow: #b4a597;
     --rem-keys-color: #637097;
     --rem-keys-shadow: #404e72;
     --equal-color: #d03f2f;
     --equal-shadow: #93261a70;
     --alt-alt-font-color: #fff;
     --equal-font-color: #fff;
     --toogle-background: #232c43;
     --toogle-circle: #d03f2f;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (min-width: 500px)
{
    body
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: calc(100vh - 100px);
    }
}

body
{
    font-family: 'League Spartan', sans-serif;
    font-size: 32px;
    background-color: var(--background);
}

/*  HEADER  */
@media (min-width: 500px)
{
    header
    {
        width: 30rem;
    }
    main
    {
        width: 30rem;
    }
    .operator
    {
        padding: 1rem;
    }
}
header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--alt-font-color);
    font-size: 1rem;
    margin: 2rem;
}

header section
{
    display: grid;
    width: 40%;
    max-width: 7rem;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
}

header section h2
{
    font-size: 0.75rem;
    font-weight: 700;
    grid-column: 1;
    grid-row: 2;
    text-transform: uppercase;
}

header section .themeSwitcher
{
    grid-column: 2;
    grid-row: span 2;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    place-items: center;
}

header section .themeSwitcher input[type="radio"]
{
    grid-row: 2;
    appearance: none;
    display: grid;
    place-content: center;
}

header section .themeSwitcher input[type="radio"]::before
{
    content: "";
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    scale: 0;
    background-color: var(--toogle-circle);
}

header section .themeSwitcher input[type="radio"]:checked::before
{
    scale: 1;
}

header section .themeSwitcher div
{
    grid-row: 2;
    background-color: var(--toogle-background);
    width: 100%;
    border-radius: 1rem;
    z-index: -1;
    height: 1.2rem;
    position: absolute;
}



/*  MAIN */

main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}

/*  DISPLAY */

.display
{
    background-color: var(--display-background);
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1.5rem;
    border-radius: 0.5rem;
    color: var(--alt-font-color);
    overflow: hidden;
}

.display .displayContainer
{
    overflow: hidden;
    justify-content: flex-end;
}

.display .displayContainer p
{
    float: right;
}

/*  KEYPAD  */

.keypad
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1rem;
    margin-top: 2rem;
    background-color: var(--keypad-background);
    width: 100%;
    border-radius: 1rem;
    padding: 1.5rem;
}

@media (max-width: 500px) {
    .operator{
        aspect-ratio: 1/1;
    }
}

.keypad .operator
{
    border: none;
    font-family: 'League Spartan', sans-serif;
    font-size: 2rem;
    background-color: var(--keys-background);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--font-color);
    border-radius: 0.35rem;
    box-shadow: var(--keys-shadow) 0px 4px 0px;
}

.keypad .del
{
    border: none;
    font-family: 'League Spartan', sans-serif;
    background-color: var(--rem-keys-color);
    color: var(--alt-alt-font-color);
    border-radius: 0.35rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--rem-keys-shadow) 0px 4px 0px;
}

.keypad .reset
{
    border: none;
    font-family: 'League Spartan', sans-serif;
    background-color: var(--rem-keys-color);
    color: var(--alt-alt-font-color);
    border-radius: 0.35rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--rem-keys-shadow) 0px 4px 0px;
    grid-column: span 2;
}

.keypad .equal
{
    border: none;
    font-family: 'League Spartan', sans-serif;
    background-color: var(--equal-color);
    color: var(--equal-font-color);
    border-radius: 0.35rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--equal-shadow) 0px 4px 0px;
    grid-column: span 2;
}

.keypad button
{
    cursor: pointer;
    transition: all 0.4s ease;
}

.keypad .operator:hover
{
    transform: translateY(-10px);
    box-shadow: var(--keys-shadow) 0px 14px 0px;
}

.keypad .operator:active
{
    transform: translateY(4px);
    box-shadow: var(--keys-shadow) 0px 0px 0px;
}

.keypad .del:hover,
.keypad .reset:hover
{
    transform: translateY(-10px);
    box-shadow: var(--rem-keys-shadow) 0px 14px 0px;
}

.keypad .del:active,
.keypad .reset:active
{
    transform: translateY(4px);
    box-shadow: var(--rem-keys-shadow) 0px 0px 0px;
}

.keypad .equal:hover
{
    transform: translateY(-10px);
    box-shadow: var(--equal-shadow) 0px 14px 0px;
}

.keypad .equal:active
{
    transform: translateY(4px);
    box-shadow: var(--equal-shadow) 0px 0px 0px;
}

/*  FOOTER  */
@media (min-width: 500px) {
    .attribution{
        position: absolute;
        bottom: 0;
    }
}

.attribution 
{ 
    font-size: 20px; 
    text-align: center; 
    background-color: #666;
    color: hsl(0, 0%, 95%);
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 300;
}

.attribution a 
{ 
    color: hsla(0, 0%, 100%, 0.75); 
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

.attribution a:hover
{
    color: blue;
    text-decoration: underline;
}