*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: hsl(0, 100%, 74%);
    background-image: url(images/bg-intro-mobile.png);
}

@media (min-width: 768px)
{
    body
    {
        background-image: url(images/bg-intro-desktop.png);
    }

    main
    {
        grid-template-columns: 1fr 1fr;
        min-height: calc(100vh - 100px);
        max-width: 90%;
        margin: 0 5%;
    }
}

main
{
    display: grid;
    width: 100%;
    place-items: center;
}

/*  TOP ART */

@media (min-width: 768px)
{
    .top-art
    {
        width: 80%;
    }

    .top-art h2
    {
        font-size: 3rem;
        line-height: 3.5rem;
    }
}

@media (max-width: 768px)
{
    .top-art
    {
        margin-top: 25%;
        text-align: center;
        width: 85%;
    }
}

.top-art
{
    color: #fff;
}

.top-art h2
{
    font-weight: 700;
    margin-bottom: 1rem;
}

.top-art p
{
    font-weight: 400;
    margin-bottom: 2rem;
}

/*  BOTTOM ART  */

@media (min-width: 768px)
{
    .bot-art
    {
        max-width: 80%;
    }
}
.bot-art
{
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bot-art .try
{
    width: 100%;
    text-align: center;
    background-color: hsl(248, 32%, 49%);
    padding: 1rem 3rem;
    border-radius: 10px;
    margin: 1rem 0;
    box-shadow: 0 10px 0px 0 hsla(249, 10%, 26%, 0.3);
}

.bot-art .try h3
{
    color: #fff;
    font-weight: 400;
    font-size: 1rem;
}

/*  FROM    */

@media (min-width: 768px)
{
    form
    {
        padding: 2rem;
        width: 100%;
    }
}

@media (max-width: 768px)
{
    form
    {
        padding: 1.5rem;
    }
}

form
{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 0px 0 hsla(249, 10%, 26%, 0.3);
    margin-bottom: 3rem;
}

form input
{
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid hsla(0, 0%, 0%, 0.3);
}

form input::placeholder
{
    font-weight: 700;
}

form input[type="submit"]
{
    background-color: hsl(154, 59%, 51%);
    color: #fff;
    font-weight: 700;
    border: none;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 0 0 hsl(154, 55%, 46%);
    transition: all 0.2s ease-in-out;
}

form div
{
    position: relative;
    display: flex;
}

form input[type="submit"]:hover
{
    transform: translateY(-10px);
    box-shadow: 0 14px 0 0 hsl(154, 55%, 46%);
}

form p
{
    text-align: center;
    margin-top: 1rem;
    font-size: 0.75rem;
    font-weight: 400;
    color: hsl(246, 25%, 77%);
}

form p a
{
    color: hsl(0, 100%, 74%);
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    
}

form p a:hover
{
    text-decoration: underline;
}

/*  FORM NOT VALID  */

form span
{
    color: hsl(0, 100%, 74%);
    font-weight: 500;
    font-size: 0.75rem;
    font-style: italic;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
    display: block;
    text-align: right;
}

.error
{
    border: 1px solid hsl(0, 100%, 74%);
}

.error::placeholder
{
    color: #fff;
}

form img
{
    position: absolute;
    display: none;
    align-self: center;
    right: 1rem;

}

.attribution 
{ 
    font-size: 20px; 
    text-align: center; 
    background-color: #fff;
    color: hsla(249, 10%, 26%, 0.3);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 700;
}

.attribution a 
{ 
    color: hsl(0, 100%, 74%); 
    font-weight: 400;
    text-decoration: none;
}