/*
font-family: 'Barlow Semi Condensed', sans-serif;
*/

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: hsl(210, 46%, 95%);
    font-size: 13px;
}

.gridBx
{
    min-height: calc(100vh - 100px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1400px)
{
    .gridBx .grid
    {
        width: 75%;
        grid-template-columns: repeat(4, 1fr);
    }

    .gridBx .grid .gridItem:nth-child(1)
    {
        grid-column: span 2;
    }

    .gridBx .grid .gridItem:nth-child(3)
    {
        grid-row: span 2;
    }
    
}

@media (max-width: 1400px) and  (min-width: 1000px)
{
    .gridBx .grid
    {
        width: 75%;
        grid-template-columns: repeat(3, 1fr);
        margin: 10% 0;
    }

    .gridBx .grid .gridItem:nth-child(4)
    {
        grid-column: span 2;
    }

    .gridBx .grid .gridItem:nth-child(1)
    {
        grid-column: span 2;
    }

    .gridBx .grid .gridItem:nth-child(3)
    {
        grid-row: span 2;
    }
}

@media (max-width: 1000px) and  (min-width: 500px)
{
    .gridBx .grid
    {
        width: 90%;
        grid-template-columns: repeat(2, 1fr);
        margin: 10% 0;
    }

    .gridBx .grid .gridItem:nth-child(1)
    {
        grid-column: span 2;
    }

    .gridBx .grid .gridItem:nth-child(3)
    {
        grid-row: span 2;
    }
}

@media (max-width: 500px)
{
    .gridBx .grid
    {
        width: 90%;
        grid-template-columns: 100%;
        margin: 10% 0;
    }

    .gridBx .grid .gridItem:nth-child(1)
    {
        grid-column: 1;
        grid-row: 1;
    }

    .gridBx .grid .gridItem:nth-child(2)
    {
        grid-row: 2;
    }

    .gridBx .grid .gridItem:nth-child(4)
    {
        grid-row: 3;
    }

    .gridBx .grid .gridItem:nth-child(3)
    {
        grid-row: 5;
    }
}

.gridBx .grid
{
    display: grid;
    gap: 2.5em;
}

.gridBx .grid .gridItem
{
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
}

.gridBx .grid .gridItem:nth-child(1)
{
    background-color: hsl(263, 55%, 52%);
    color: hsl(0, 0%, 100%);
}

.gridBx .grid .gridItem:nth-child(1) .profile img
{
    border: #a775f1 2px solid;
}

.gridBx .grid .gridItem:nth-child(2)
{
    background-color: hsl(217, 19%, 35%);
    color: hsl(0, 0%, 100%);
}

.gridBx .grid .gridItem:nth-child(2) .profile img
{
    border: #fff 2px solid;
}

.gridBx .grid .gridItem:nth-child(3)
{
    background-color: hsl(0, 0%, 100%);
    color: hsl(217, 19%, 35%);
}

.gridBx .grid .gridItem:nth-child(3) .profile img
{
    border: #fff 2px solid;
}

.gridBx .grid .gridItem:nth-child(4)
{
    background-color: hsl(0, 0%, 100%);
    color: hsl(217, 19%, 35%);
}

.gridBx .grid .gridItem:nth-child(4) .profile img
{
    border: #fff 2px solid;
}

.gridBx .grid .gridItem:nth-child(5)
{
    background-color: hsl(219, 29%, 14%);
    grid-column: span 2;
    color: hsl(0, 0%, 100%);
}

.gridBx .grid .gridItem:nth-child(5) .profile img
{
    border: #a775f1 2px solid;
}

.gridBx .grid .gridItem .icon
{
    position: absolute;
    right: 15%;
    z-index: 1;
}

.gridBx .grid .gridItem .inside
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 2.2em;
    z-index: 2;
}

.gridBx .grid .gridItem .profile
{
    display: flex;
    align-items: center;
}

.gridBx .grid .gridItem .profile img
{
    width: 3em;
    height: 3em;
    border-radius: 50%;
}

.gridBx .grid .gridItem .profile .profileInfo
{
    margin-left: 1.5em;
    font-size: 1em;
}

.gridBx .grid .gridItem .profile .profileInfo span
{ 
    font-weight: 600;
    font-size: 1em;
}

.gridBx .grid .gridItem .profile .profileInfo p
{
    opacity: 0.5;
    font-weight: 500;
}

.gridBx .grid .gridItem .quote
{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.gridBx .grid .gridItem .quote h1
{
    margin-top: 0.5em;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.5em;
}

.gridBx .grid .gridItem .quote p
{
    margin-top: 0.5em;
    font-size: 1em;
    font-weight: 500;
    line-height: 1.5em;
    opacity: 0.7;
}

.attribution 
{ 
    font-size: 20px; 
    text-align: center; 
    background-color: hsl(219, 29%, 14%);
    color: hsl(263, 55%, 52%);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 300;
}

.attribution a 
{ 
    color: #fff; 
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

.attribution a:hover
{
    color: hsl(217, 19%, 35%);
}