*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
}

@media (max-width: 820px)
{
    #bgPatternTop
    {
        background-image: url(images/bg-pattern-top-mobile.svg);
    }

    #bgPatternBottom
    {
        background-image: url(images/bg-pattern-bottom-mobile.svg);
    }

    .content header h1
    {
        text-align: center;
        font-size: 2.5rem;
    }

    .content header p
    {
        text-align: center;
    }

    .content .rate
    {
        flex-direction: column;
    }

    .content .rate .stars
    {
        padding-top: 1rem;
    }

    .content .opinion
    {
        margin: 0.7rem 0;
    }

    .content .content-top section
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 820px)
{
    #bgPatternTop
    {
        background-image: url(images/bg-pattern-top-desktop.svg);
    }

    #bgPatternBottom
    {
        background-image: url(images/bg-pattern-bottom-desktop.svg);
    }

    .fir
    {
        align-self: start;
    }

    .sec
    {
        align-self: center;
    }

    .thi
    {
        align-self: end;
    }

    .content header h1
    {
        font-size: 3.5rem;
    }

    .content .content-top
    {
    display: grid;
    height: 50%;
    align-items: center;
    grid-template-columns: 40% 60%;
    }

    .content .content-top section
    {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    justify-self: right;
    }

    .content .content-bottom
    {
        display: grid;
        height: 40%;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
    }
}

#bgPatternTop
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    top: 0;
    background-position: left top;
    z-index: -1;
}

#bgPatternBottom
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    bottom: 0;
    background-position: right bottom;
    z-index: -1;
}   

.contentBx
{
    width: 100%;
    min-height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
}

.content
{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5rem 0;
}

.content header h1
{
    font-weight: 700;
    color: hsl(300, 43%, 22%);
    margin: 20px 0;
}

.content header p
{
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: hsl(300, 43%, 22%);
}

.content .rate
{
    width: 100%;
    max-width: 450px;
    background-color: hsl(300, 24%, 96%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    margin: 0.7rem 0;
}

.content .rate .stars
{
    display: flex;
    min-width: min-content;
}

.content .rate .stars img
{
    margin: 0 0.2rem;
}

.content .rate span
{
    color: hsl(300, 43%, 22%);
    font-size: 1.2rem;
    font-weight: 700;
    padding: 1rem 0;
}

.content .opinion
{
    width: 100%;
    height: min-content;
    background-color: hsl(300, 43%, 22%);
    display: flex;
    flex-direction: column;
    border-radius: 10px;

    padding: 10%;
}

.content .opinion .profile
{
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.content .opinion .profile h2
{
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.2rem;
}

.content .opinion .profile p
{
    color: hsl(333, 80%, 67%);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2rem;
}

.content .opinion .profile img
{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin-right: 1.5rem;
}

.content .opinion figcaption p
{
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}