#build
{
	text-align: center;
	font-size: 40px;
	text-shadow: 
	3px 3px 0 #044343,
	-3px -3px 0  #044343,
	-3px -3px 0  #044343,
	3px 3px 0  #044343;
	margin-bottom: 150px;
}
.clock
{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
}

.header
{
	font-size: 50px;
	font-weight: 700;
	text-shadow: 
	3px 3px 0 #044343,
	-3px -3px 0  #044343,
	-3px -3px 0  #044343,
	3px 3px 0  #044343;
}

.about
{
	width: 90%;
	position: relative;
}
.comp
{
	width: 100%;
	margin-left: 15%;
	position: relative;
	animation: pc 2.5s linear infinite;
	padding-top: 100px;
}

.monitor
{
	width: 90%;
	height: 90%;
	background-color: black;
	position: absolute;
	top: 5%;
	left: 5%;
}

.keyboard
{
	background-color: darkgray;
	position: absolute;
	height: 50px;
	width: 200px;
	top: 220px;
	left: 80px;
	transform: skewY(-15deg) skewX(45deg);
	border: 4px gray solid;
	margin-top: 100px;
}

.keyboard::before
{
	content: '';
	background-color: gray;
	width: 10px;
	height: calc(100% + 4px + 4px);
	position: absolute;
	top: 1px;
	left: calc(-4px + -10px);
	transform: skewY(-45deg);
}

.keyboard::after
{
	content: '';
	background-color: gray;
	width: calc(100% + 4px + 4px);
	height: 10px;
	position: absolute;
	bottom: calc(-14px);
	left: -9px;
	transform: skewX(-45deg);
}

.mouse
{
	background-color: darkgray;
	border-radius: 40%;
	width: 30px;
	height: 40px;
	position: absolute;
	transform: skewY(-15deg) skewX(45deg);
	border-bottom: 5px gray solid;
	border-left: 5px gray solid;

	left: 320px;
	top: 190px;

	margin-top: 100px;
}

.mouse::before
{
	content: '';
	position: absolute;
	width: 10px;
	height: 15px;
	background-color: rgba(0, 0, 0, 0);
	border-right: 2px black solid;
	left: 2px;
	border-radius: 30%;
}

@keyframes pc
{
	0% {transform: translateY(0);}
	50% {transform: translateY(20px);}
	100% {transform: translateY(0);}
}

.inside
{
	margin-left: 10%;
}

.block
{
	background-color: #044343;
	width: 300px;
	height: 200px;
	position: relative;
	transform: skewY(-15deg);
}

.block::after
{
	content: '';
	position: absolute;

	top: -15px;
	left: -15px;

	width: 15px;
	height: 100%;
	
	background: #033131;
	transform-origin: left;
	transform: skewY(45deg);
}

.block::before
{
	content: '';
	position: absolute;

	top: -15px;
	left: 0;

	width: 100%;
	height: 15px;

	background: #033a3a;
	transform-origin: bottom;
	transform: skewX(45deg);
}

.blink
{
	animation: blink 2s steps(5, start) infinite;
}

@keyframes blink
{
	to {
		visibility: hidden;
	  }
}

#container
{
	display: grid;
	grid-template-columns: 40% 60%;
	height: 700px;
}

.container-team
{
	width: 100%;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: red 1px solid;
}

.container-team .cart
{
	width: 300px;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: #033a3a 30px solid;
	border-bottom-right-radius: 50%;
	border-bottom-left-radius: 50%;
}
