.contacts
{
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact
{
	position: relative;
	border-radius: 30px;
	transition: all 1s;
	margin-left: 50px;
	margin-right: 50px;
}

.contact:hover
{
	transform: scale(1.1);
	filter: brightness(1.2) drop-shadow(0px 0px 10px #000);
}

.glass
{
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	z-index: -1;
	filter: blur(10px);
	border-radius: 30px;
}

.glass::before
{
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	border-radius: 30px;
}

.glass::after
{
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	filter: blur(40px);
	border-radius: 30px;
}

.glass:before,
.glass:after
{
	background: linear-gradient(235deg,#044343,#045757);
}

.for
{
	width: 300px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #045757;
	border-radius: 30px;
	border: solid 2px white;
	flex-direction: column;
}

.icon2
{
	font-size: 30px;
	z-index: 1;
}

header > h2
{
	text-shadow: 
	5px 5px 0 #044343,
	-5px -5px 0  #044343,
	-5px -5px 0  #044343,
	5px 5px 0  #044343;
	text-align: center;
	font-size: 60px;
	margin-bottom: 50px;
}

  .contact .tooltiptext {
	visibility: hidden;
	width: 140px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px;
	position: absolute;
	z-index: 1;
	bottom: 120%;
	left: 50%;
	margin-left: -75px;
	opacity: 0;
	transition: opacity 0.3s;
  }
  
  .contact .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
  }
  
  .contact:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

.contact a:hover
{
	color: white;
}