/*	ID	*/


#slides
{
	width: 880px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	background-color: #333538;
}

#index
{
	float: left;
	margin-top: 110px;
	margin-left: 25px;
}

/*	CLASS	*/

.header
{
	text-align: center;
	font-weight: 900;
}

.icon
{
	font-size: 40px;
}

.lorem
{
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.javas
{
	text-align: center;
}



